.inline-block{
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.logo{
    width: 10%;
    padding: 1%;
    text-align: center;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.logo img{
    width: 50%;
    border-radius: 50px;
}
nav{
    width: 73%;
    padding: 1%;
}
.navigation{
    background-color: #AF6A6E;
}
.topnav{
    overflow: hidden;
}
.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.topnav a:hover{
    background-color: #ddd;
    color: black; 
}
/*Removed height due to large img file size*/
.heroImg{
    padding: 25px;
}
/*Content img helps to resize large image*/
.content img{
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content{
    width: 500px;
    margin: 0 auto; 
}
footer{
    background-color: #AF6A6E;
    color: white;
    padding: 2%;
}
ul.inline-block{
    display: inline-block;
    vertical-align: top;
    padding: 10%;
}
footer,ul{
    width: 100%;
    padding: 1%;
    margin-left: auto;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}
button{
    background-color: #800020;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 150px;
}